body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url('background2.jpeg');
    background-size:contain;
}
.clock-container {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#clock {
    font-size: 48px;
    margin-bottom: 20px;
}
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label, select, input, button {
    font-size: 18px;
}
button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
