body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('background9.jpg');
    background-size: cover;
}

.container {
    margin-top: 50px;
}

#text-display {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.highlight {
    color: black;
}

.error {
    color: red;
}

#text-input {
    font-size: 18px;
    padding: 10px;
    width: 60%;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
